AspNet5BatchingAngularJS/bower_components
AspNet5BatchingAngularJS/node_modules
.vs/AspNet5BatchingAngularJS/v14
artifacts/bin/Damienbod.HttpBatching/Debug
artifacts/obj/AspNet5BatchingAngularJS/Debug
artifacts/obj
HttpBatchClientBradWilson/HttpBatchClient/bin
HttpBatchClientBradWilson/HttpBatchClient/bin
HttpBatchClientBradWilson/HttpBatchClient/obj
WebApiBatchService/packages
WebApiBatchService/WebApiBatchService/bin
WebApiBatchService/WebApiBatchService.v12.suo
WebApiBatchService/WebApiBatchService/obj
WebApiBatchService/WebApiBatchService/WebApiBatchService.csproj.user
